body {
	background: #fff;
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin:0;
	padding:0;
}
header {
	background: #2E323C;
	color: #fff;
	padding:20px;
	font-size: 26px;
	text-align: center
}
body > div {
	padding:20px;
	margin:auto;
	width:900px;
}
a {
	text-decoration: none;
	color: #808080;
	font-weight: bold
}
.section-highlight {
	background: #f5f5f5;
	padding:15px;
}
h2, h3 {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0 10px 0;
	margin-bottom:30px
}
.alpha {
	list-style: none;
	margin:0;
	padding:0;
}
.alpha li {
	margin: 0 0 5px 0;
}
.alpha a {
	display:block;
	padding: 10px 10px 10px 20px;
	background: #f5f5f5

}
.notice {
	color: #ff0000;
	border-left: 3px solid #ff0000;
	padding-left: 15px;
	margin: 30px 0;
}
i {
	background: #f5f5f5;
	padding:4px 7px;
}